# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Ambientes virtuais
.venv/
venv/
env/

# Build do executável (PyInstaller)
build/
dist/
*.spec

# LaTeX (auxiliares de compilação)
*.aux
*.log
*.out
*.toc
*.synctex.gz

# Sistema / editores
.DS_Store
.vscode/
.idea/
*Zone.Identifier

# Saídas geradas
*.png
!z_docs/**
